[submodule "c++/3rdpart/spdlog"]
	path = c++/3rdpart/spdlog
	url = https://gitee.com/mirror_1/spdlog.git
[submodule "c++/3rdpart/Qt-Advanced-Docking-System"]
	path = c++/3rdpart/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
